<h1 mat-dialog-title class="title">Details Compte Bancaire</h1>
<div mat-dialog-content>
  <div class="details-row">
    <strong>RIB:</strong> <span>{{data.rib}}</span>
  </div>
  <div class="details-row">
    <strong>Numéro de Compte:</strong> <span>{{data.numeroCompte}}</span>
  </div>
  <div class="details-row">
    <strong>Libellé:</strong> <span>{{data.libelle}}</span>
  </div>
  <div class="details-row">
    <strong>Solde:</strong> <span>{{data.solde | currency}}</span>
  </div>
  <div class="details-row">
    <strong>Date de Création:</strong> <span>{{data.dateDeCreation | date}}</span>
  </div>
  <div class="details-row">
    <strong>Statut:</strong> <span>{{data.statut ? 'Actif' : 'Inactif'}}</span>
  </div>
</div>
<div class="actions">
  <button mat-button mat-dialog-close class="close-button">Fermer</button>
</div>
