.main-card {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; /* This will center the children horizontally */
}

.row {
  display: flex;
  gap: 20px;
  width: 100%; /* Ensures the row takes the full width */
}

.small-card {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.large-card {
  width: 50%;
  text-align: center;
}

mat-card img {
  max-width: 100%;
  height: 50px;
}

.dollar-img {
  width: 50px; /* Set desired width */
  height: 50px; /* Set desired height */
  margin: 0 auto; /* Center the image */
}
.card-title {
  font-weight: bold; /* Makes the title bold */
  color: #00693e; /* Set the color */
}

.solde-text {
  font-weight: bold; /* Makes the text bold */
  color: #00693e; /* Set the color */
}

.solde-text {
  font-weight: bold; /* Makes the text bold */
  color: blue; /* Set the color */
}
