<mat-card class="main-card">
  <mat-card-content>
    <div class="card-container">
      <!-- First Row -->
      <mat-card class="large-card">
        <mat-card-title>Solde :</mat-card-title>
        <mat-card-content>
          <h6 class="solde-text">${{ compte.solde }}$</h6>
        </mat-card-content>
      </mat-card>
      <!-- fourth Row -->
      <div class="row">
        <mat-card class="small-card" routerLink="/admin/send-form">
          <div class="card-content">
            <img mat-card-image src="assets/img/outcoming.png" alt="Transferer Image" routerLink="/admin/send-form">
            <mat-card-title>Transferer</mat-card-title>
            <mat-card-content>
              <!-- Add your content here -->
            </mat-card-content>
          </div>
        </mat-card>

        <mat-card class="small-card" routerLink="/admin/receive-form">
          <div class="card-content">
            <img mat-card-image src="assets/img/incoming.png" alt="Recevoir Image" routerLink="/admin/receive-form">
            <mat-card-title>Recevoir</mat-card-title>
            <mat-card-content>
              <!-- Add your content here -->
            </mat-card-content>
          </div>
        </mat-card>
      </div>

      <!-- Second Row -->
      <mat-card class="large-card"  routerLink="/admin/list-transfer">
        <mat-card-title>Détails anciennes Transactions</mat-card-title>
        <mat-card-content>
          <a class="lien-text"  routerLink="/admin/list-transfer">Details</a>
        </mat-card-content>
      </mat-card>
      <!-- third Row -->
      <mat-card class="large-card" routerLink="/user/list-demande">
        <mat-card-title>Liste des Demandes de paiement</mat-card-title>
        <mat-card-content>
          <a class="lien-text" routerLink="/user/list-demande" >Details</a>
        </mat-card-content>
      </mat-card>





    </div>
  </mat-card-content>
</mat-card>
