<mat-card class="main-card">
  <mat-card-title>Alias</mat-card-title>
  <mat-card-content>
    <div *ngIf="showCopiedNotification" class="notification">Copié dans le presse papier!</div>
    <div class="qr-code">
      <qrcode [qrdata]="alias!.alias" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <div class="details">
      <button mat-icon-button ngxClipboard [cbContent]="alias.alias" (cbOnSuccess)="showNotification()">
        <mat-icon>content_copy</mat-icon>
      </button>
      <br>
      <div class="label">Copier</div>
      <p><strong>Alias:</strong> {{alias.alias}}</p>
      <p><strong>Type:</strong> {{alias.type}}</p>
    </div>
    <div class="actions">
      <button mat-button class="close-button" (click)="navigateToBAchoose()">Changer le compte bancaire ?</button>
    </div>
  </mat-card-content>
</mat-card>
