.mat-card {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.qr-card {
  padding: 16px;
  text-align: center;
}

.notification {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 4px;
}

.main-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
