<div class="wrapper">
  <div class="container">
    <img src="assets/img/ora.png" alt="Logo" class="logo">
    <form class="form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <input type="text"
             ngModel
             name="userName"
             id="userName"
             required
             minlength="5"
             placeholder="Saisir votre nom d'utilisateur"
             #usernameInput="ngModel"
             [ngClass]="{ 'error': usernameInput.invalid && usernameInput.touched }"
             class="form-control" id="yourUsername" required>
  <div *ngIf="usernameInput.invalid && usernameInput.touched" class="error-messages">
    <div *ngIf="usernameInput.errors?.['required']">Obligatoire</div>
    <div *ngIf="usernameInput.errors?.['minlength']">Longueur Minimum : 5</div>
  </div>

  <input type="password"
         ngModel
         name="userPassword"
         id="userPassword"
         required
         minlength="5"
         placeholder="Saisir votre mot de passe"
         #passwordInput="ngModel"
         [ngClass]="{ 'error': passwordInput.invalid && passwordInput.touched }">
  <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-messages">
    <div *ngIf="passwordInput.errors?.['required']">Obligatoire</div>
    <div *ngIf="passwordInput.errors?.['minlength']">Longueur Minimale : 5</div>
  </div>
  <button type="submit" id="login-button">S'authentifier</button>
  </form>
</div>

<ul class="bg-bubbles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
</div>
