<main id="main" class="main">

  <div class="pagetitle">
    <h1>Alias</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Mon Alias</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->


  <!-- Card with an image on left -->
  <div class="card mb-12">
    <div class="row g-0">
      <div class="col-md-4">
        <qrcode [qrdata]="alias!.alias" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Alias</h5>
          <br>
          <div class="d-flex w-100 justify-content-between">

            <h5 class="mb-1">L'Alias relatif à votre compte : <b>{{alias.alias}}</b></h5>
            <div class="icon">
              <button ngxClipboard [cbContent]="alias.alias" class="ri-file-copy-2-fill" (cbOnSuccess)="showNotification()"></button>
              <div class="label">Copier</div>
            </div>
          </div>
          <br>
          <p class="mb-1">Type de l'Alias : <b>{{alias.type}}</b></p>
          <div *ngIf="showCopiedNotification" class="notification">Copié dans le presse papier!</div>
        </div>
      </div>
    </div>
  </div><!-- End Card with an image on left -->
</main>
