.main-card {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
}


.full-width-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  width: 25%;
}

.empty-table-message {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #ff0000; /* Red color for emphasis */
}
