<mat-card class="alias-card">
  <mat-card-title>Recevoir</mat-card-title>
  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="Par Alias">
      <form #aliasForm="ngForm" (ngSubmit)="onSubmit(aliasForm)" class="form">
        <!-- Alias Input -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Alias</mat-label>
          <input matInput name="alias" ngModel required>
          <mat-error *ngIf="aliasForm.controls['alias'].touched">
            Champ obligatoire
          </mat-error>
        </mat-form-field>

        <!-- Montant Input -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Montant</mat-label>
          <input matInput name="montant" type="number" ngModel required min="0.01" pattern="^[0-9]*$" #montant="ngModel">
          <mat-error *ngIf="montant.invalid && montant.touched">
            <span *ngIf="montant.errors?.['required']">Montant est requis</span>
            <span *ngIf="montant.errors?.['min']">Montant doit être supérieur à 0</span>
            <span *ngIf="montant.errors?.['pattern']">Caractères Invalides</span>
          </mat-error>
        </mat-form-field>

        <!-- Note Input -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Note</mat-label>
          <textarea matInput name="note" ngModel></textarea>
        </mat-form-field>

        <!-- Continuer Button -->
        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="aliasForm.invalid">Continuer</button>
        </div>
      </form>

    </mat-tab>

    <mat-tab label="Ajouter Contact">
      <form #contactForm="ngForm" (ngSubmit)="onSubmitContact(contactForm)" class="form">
        <!-- Nom et Prénom Input -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nom et Prénom</mat-label>
          <input matInput name="nomPrenom" ngModel required>
          <mat-error *ngIf="contactForm.controls['nomPrenom'].invalid && contactForm.controls['nomPrenom'].touched">
            Champ obligatoire
          </mat-error>
        </mat-form-field>

        <!-- Numero de compte Input -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Numero de compte</mat-label>
          <input matInput name="numeroCompte" ngModel required>
          <mat-error *ngIf="contactForm.controls['numeroCompte'].invalid && contactForm.controls['numeroCompte'].touched">
            Champ obligatoire
          </mat-error>
        </mat-form-field>

        <!-- Continuer Button -->
        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">Continuer</button>
        </div>
      </form>

    </mat-tab>
  </mat-tab-group>
</mat-card>
