<main id="main" class="main">
  <div class="pagetitle">
    <h1>Transferer</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Transferer</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Transferer</h5>
            <!-- Accordion without outline borders -->
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Par Alias
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <form class="row g-3">
                      <div class="col-12">
                        <label for="alias" class="form-label">Alias</label>
                        <div class="input-group">
                          <input type="text" name="alias" class="form-control" id="alias" placeholder="Alias" required
                                 minlength="8" [(ngModel)]="aliasValue"
                                 #alias="ngModel" [ngClass]="{ 'error': alias.invalid && alias.touched }">
                          <div *ngIf="alias.invalid && alias.touched" class="error-messages">
                            <div *ngIf="alias.errors?.['required']">Obligatoire</div>
                            <div *ngIf="alias.errors?.['minlength']">Longueur Minimale : 8</div>
                          </div>
                        </div>
                      </div>
                      <!-- Montant -->
                      <div class="col-12">
                        <label for="montant" class="form-label">Montant</label>
                        <input type="number" name="montant" class="form-control" id="montant" placeholder="Montant"
                               required
                               [(ngModel)]="montane"
                               #montant="ngModel"
                               [ngClass]="{ 'error': montant.invalid && montant.touched }">
                        <div *ngIf="montant.invalid && montant.touched" class="error-messages">
                          <div *ngIf="montant.errors?.['required']">Obligatoire</div>
                        </div>
                      </div>
                      <!-- Note -->
                      <div class="col-12">
                        <label for="note" class="form-label">Note</label>
                        <input type="text" name="note" class="form-control" id="note" placeholder="Note"
                               [(ngModel)]="noteValue"
                               #note="ngModel"
                        >
                      </div>
                      <button class="btn btn-primary-green w-100" type="submit" (click)="onSubmitParAlias()">Continuer</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Par IBAN
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                     data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <form class="row g-3  ">
                      <div class="col-12">
                        <label for="iban" class="form-label">IBAN</label>
                        <div class="input-group ">
                          <input type="text" name="iban" class="form-control" id="iban" placeholder="IBAN" required
                                 [(ngModel)]="ibanValue" #iban="ngModel"
                                 [ngClass]="{ 'error': iban.invalid && iban.touched }">
                          <div *ngIf="iban.invalid && iban.touched" class="error-messages">
                            <div *ngIf="iban.errors?.['required']">Saisir votre IBAN.</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="pays" class="form-label">Pays de la banque</label>
                        <div class="input-group ">
                          <select name="pays" class="form-select" id="pays" required
                                  [(ngModel)]="paysValue" #pays="ngModel"
                                  [ngClass]="{ 'error': pays.invalid && pays.touched }">>
                            <option value="" selected disabled>Choisir un pays</option>
                            <option value="France">France</option>
                            <option value="Canada">Canada</option>
                            <option value="United States">United States</option>
                            <!-- Add more countries as needed -->
                          </select>
                          <div *ngIf="pays.invalid && pays.touched" class="error-messages">
                            <div *ngIf="pays.errors?.['required']">Veuillez sélectionner le pays de la banque.</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="nom" class="form-label">Nom de la banque</label>
                        <div class="input-group ">
                          <input type="text" name="nom" class="form-control" id="nom" placeholder="Nom de la banque"
                                 required [(ngModel)]="nomValue" #nom="ngModel"
                                 [ngClass]="{ 'error': nom.invalid && nom.touched }">
                          <div *ngIf="nom.invalid && nom.touched" class="error-messages">
                            <div *ngIf="nom.errors?.['required']">Saisir votre Nom de la banque.</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="montant_iban" class="form-label">Montant</label>
                        <div class="input-group ">
                          <input type="number" name="montant_iban" class="form-control" id="montant_iban"
                                 placeholder="Montant" required
                                 [(ngModel)]="montantValue" #montantIban="ngModel"
                                 [ngClass]="{ 'error': montantIban.invalid && montantIban.touched }">
                          <div *ngIf="montantIban.invalid && montantIban.touched" class="error-messages">
                            <div *ngIf="montantIban.errors?.['required']">Saisir votre montant.</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="note_iban" class="form-label">Note</label>
                        <div class="input-group ">
                          <input type="text" name="note_iban" class="form-control" id="note_iban" placeholder="Note"
                                 [(ngModel)]="noteIbanValue" #note_iban="ngModel">
                        </div>
                      </div>
                      <button class="btn btn-primary-green w-100" type="submit" (click)="onSubmitParIban()">Continuer</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseThree" aria-expanded="false"
                          aria-controls="flush-collapseThree">
                    Par Autre Compte
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                     data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <form class="row g-3">
                      <div class="col-12">
                        <label for="compte" class="form-label">Numero Compte</label>
                        <div class="input-group ">
                          <input type="text" name="compte" class="form-control" id="compte" placeholder="Numero Compte"
                                 required
                                 [(ngModel)]="compteValue" #compte="ngModel"
                                 [ngClass]="{ 'error': compte.invalid && compte.touched }">
                          <div *ngIf="compte.invalid && compte.touched" class="error-messages">
                            <div *ngIf="compte.errors?.['required']">Saisir votre Numero Compte.</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="pays_autre" class="form-label">Pays de la banque</label>
                        <div class="input-group">
                          <select name="pays_autre" class="form-select" id="pays_autre" required
                                  [(ngModel)]="paysAutreValue" #paysAutre="ngModel"
                                  [ngClass]="{ 'error': paysAutre.invalid && paysAutre.touched }">
                            <option value="" selected disabled>Choisir un pays</option>
                            <option value="France">France</option>
                            <option value="Canada">Canada</option>
                            <option value="United States">United States</option>
                            <!-- Add more countries as needed -->
                          </select>
                          <div *ngIf="paysAutre.invalid && paysAutre.touched" class="error-messages">
                            <div *ngIf="paysAutre.errors?.['required']">Saisir votre Pays de la banque.</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="nom_if" class="form-label">Nom de l'institut financière</label>
                        <div class="input-group">
                          <select name="nom_if" class="form-select" id="nom_if" required
                                  [(ngModel)]="nomIfValue" #nomIf="ngModel"
                                  [ngClass]="{ 'error': nomIf.invalid && nomIf.touched }">
                            <option value="" selected disabled>Choisir votre institut financière</option>
                            <option value="bfi">bfi</option>
                            <option value="vermeg">vermeg</option>
                            <!-- Add more options as needed -->
                          </select>
                          <div *ngIf="nomIf.invalid && nomIf.touched" class="error-messages">
                            <div *ngIf="nomIf.errors?.['required']">Saisir votre Nom de l'institut financière.</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="montant_autre" class="form-label">Montant</label>
                        <div class="input-group">
                          <input type="number" name="montant_autre" class="form-control" id="montant_autre"
                                 placeholder="Montant" required
                                 [(ngModel)]="montantAutreValue" #montantAutre="ngModel"
                                 [ngClass]="{ 'error': montantAutre.invalid && montantAutre.touched }">
                          <div *ngIf="montantAutre.invalid && montantAutre.touched" class="error-messages">
                            <div *ngIf="montantAutre.errors?.['required']">Saisir votre montant.</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="note_autre" class="form-label">Note</label>
                        <div class="input-group ">
                          <input type="text" name="note_autre" class="form-control" id="note_autre" placeholder="Note"
                                 [(ngModel)]="noteAutreValue" #note_iban="ngModel">
                          <div class="invalid-feedback">Saisir votre note.</div>
                        </div>
                      </div>
                      <button class="btn btn-primary-green w-100" type="submit" (click)="onSubmitParAutre()">Continuer</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Ajouter Contact
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <form class="row g-3  ">
                      <div class="col-12">
                        <label for="nomPrenom" class="form-label">Nom et Prenom</label>
                        <div class="input-group">
                          <input type="text" name="nomPrenom" class="form-control" id="nomPrenom"
                                 placeholder="Nom et Prenom" required
                                 [(ngModel)]="nomPrenomValue" #nomPrenom="ngModel"
                                 [ngClass]="{ 'error': nomPrenom.invalid && nomPrenom.touched }">
                          <div *ngIf="nomPrenom.invalid && nomPrenom.touched" class="error-messages">
                            <div *ngIf="nomPrenom.errors?.['required']">Saisir votre Nom et Prenom.</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="num_compte" class="form-label">Numero de Compte</label>
                        <div class="input-group">
                          <input type="number" name="num_compte" class="form-control" id="num_compte"
                                 placeholder="Numero de Compte" required
                                 [(ngModel)]="numCompteValue" #num_compte="ngModel"
                                 [ngClass]="{ 'error': num_compte.invalid && num_compte.touched }">
                          <div *ngIf="num_compte.invalid && num_compte.touched" class="error-messages">
                            <div *ngIf="num_compte.errors?.['required']">Saisir votre Numero de Compte.</div>
                          </div>
                        </div>
                      </div>

                      <button class="btn btn-primary-green w-100" type="submit">Continuer</button>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- End Accordion without outline borders -->
          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
