.error {
  border-color: red;
}

.error-messages {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  bottom: -16px; /* Adjust this value as needed */
}

.hover\:bg-green-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 105 62 / var(--tw-bg-opacity));
}
.input-group{
  position: relative;
}
