<h1 class="main-title">Accueil</h1>

<div class="card-container">
  <mat-card class="card alias-card">
    <a (click)="redirectToAlias()">
      <img mat-card-image src="assets/img/home2.png" alt="Alias Image" width="300" height="200">
      <mat-card-header>
        <mat-card-title>Alias</mat-card-title>
      </mat-card-header>
      <mat-card-content>Recuperer votre propre Alias ?</mat-card-content>
    </a>
  </mat-card>

  <mat-card class="card transfert-card">
    <a (click)="redirectToTransfert()">
      <img mat-card-image src="assets/img/home3.jpg" alt="Transfert Image" width="300" height="200">
      <mat-card-header>
        <mat-card-title>Transfert</mat-card-title>
      </mat-card-header>
      <mat-card-content>Ton espace securisé pour l'echange de l'argent.</mat-card-content>
    </a>
  </mat-card>
</div>
