.main-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #00693e; /* Adjust color as needed */
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 40px); /* Adjust to account for title margin */
  padding: 20px;
  box-sizing: border-box;
}

.card {
  width: 45%;
  height: 300px;
  color: white;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #00693e; /* Adjust color as needed */
}

mat-card-content {
  font-size: 15px;
  color: #000000; /* Adjust color as needed */
}
